<div class="container-fluid d-flex justify-content-center">
      <div class="card shadow" style="min-width: 40vh;">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h1 class="text-dark text-muted">Register</h1>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
            </div>
            <button type="button" class="btn btn-info mb-4" (click)="register()">Register</button>
            <div class="row text-center">
                <a href="/login" style="text-decoration: none">Have an account? <span class="text-danger">Login</span></a>
            </div>
          </form>
        </div>
  </div>
</div>
