<div class="p-5">
  <h2 class="text-white">{{inputdata.title}}</h2>
    <form [formGroup]="propertyForm">
      <div class="mb-3">
        <mat-form-field class="w-100">
          <mat-label>Település</mat-label>
          <input matInput formControlName="settlement">
        </mat-form-field>
        @if(propertyForm.get('settlement')?.hasError('required') && propertyForm.get('settlement')?.touched){
          <div class="form-text text-danger">Kötelező települést megadni!</div>
        }
      </div>

      <div class="mb-3">
        <mat-form-field class="w-100">
          <mat-label>Ár</mat-label>
          <input matInput formControlName="price">
        </mat-form-field>
        @if(propertyForm.get('price')?.hasError('required') && propertyForm.get('price')?.touched){
          <div class="form-text text-danger">Kötelező árat megadni!</div>
        }
      </div>

      <div class="mb-3">
        <mat-form-field class="w-100">
          <mat-label>Szobaszám</mat-label>
          <input matInput formControlName="rooms">
        </mat-form-field>
        @if(propertyForm.get('rooms')?.hasError('required') && propertyForm.get('rooms')?.touched){
          <div class="form-text text-danger">Kötelező szobaszámot megadni!</div>
        }
      </div>

      <div class="mb-3">
        <mat-form-field class="w-100">
          <mat-label>Méret</mat-label>
          <input matInput formControlName="size">
        </mat-form-field>
        @if(propertyForm.get('size')?.hasError('required') && propertyForm.get('size')?.touched){
          <div class="form-text text-danger">Kötelező méretet megadni!</div>
        }
      </div>

      <div class="mb-3">
        <mat-form-field class="w-100">
          <mat-label>Leírás</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="onSubmit()">{{inputdata.btn}}</button>
    </form>
</div>
