@if (localStorage.getItem("token")) {
  <mat-toolbar class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container style="height: 93%">
    <mat-drawer #drawer opened="true" mode="side" position="start">
      <mat-nav-list>
        <mat-list-item>
          <h1>Lakásvadász {{'Lakásvadász' | custompipe}}</h1>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="/property"><mat-icon>home</mat-icon> Ingatlanok</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="/rent"><mat-icon>home_work</mat-icon> Albérletek</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="/auction"><mat-icon>gavel</mat-icon> Aukciók</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button href="/sold-properties"><mat-icon>monetization_on</mat-icon> Eladott ingatlanok</a>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="logout()"><mat-icon>logout</mat-icon> Kijelentkezés</button>
        </mat-list-item>

      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container my-4">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
}@else{
  <div class="container my-4">
    <router-outlet></router-outlet>
  </div>
}
